{#
/**
 * @file
 * Custom inner Form Template to rearrange the elements
 */

  Form Elements:
    {{ form.title }}
    {{ form.description }}

    {{ form.status }}
    {{ form.uid }}
    {{ form.changed }}
    {{ form.created }}

    {{ form.actions }}

#}

<div class="col-12">{{ form }}</div>

